body{
    max-width: 1000px;
}
a {
    text-decoration: none;
    color: #D9852C;
}
#top-section{
    max-width: 1000px;
    background-image: url(Background\ \(2\).png);
    background-size: cover;
}
#hero-section{
    display: flex;
}
#logo{
    height: 67;
    width: 137;
    margin: 30px;
}
#menu{
    padding-left: 610px;
    height: 70;
    width: 70;
}
#rectangle{
    height: 15;
    width: 90;
    margin: 400px 0px 100px 30px;
}
#hero-section-text{
    font-family: 'Libre Caslon Display';
    font-size: 100px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 100px;
    font-weight: 600;
}
#hero-section-small{
    font-family: 'Inter';
    font-size: 18px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 200px;
    font-weight: 300;
    margin-top: 50px;
}
#button-section{
    margin-top: 40px;
    padding-left: 30px;
    padding-bottom: 150px;
}
#button{
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 36px;
    width: 253px;
    height: 122px;
}
#section2{
    display: none;
}
#button:hover{
    background-color: white;
    color: black;
}
#news-section{
    padding: 30px 30px 40px 10px;
}
.news-card{
    border: 1px solid #1111;
    box-shadow:2px 2px ghostwhite;
    padding-bottom: 30px;
    padding-top: 20px;
}
#news-title{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
.newsimages{
    margin-bottom: 20px;
    width: 910px;
    height: 780px;
}
.news-dates{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color: #b7b7b7;
    font-weight: 400;
    padding-left: 20px;
}
.news{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Inter';
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 30px;
}
.read-more{
    text-align: right;
    padding-right: 20px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
}
@


@media screen and (min-width: 1020px) {
    body{
        max-width: 1080px;
    }
    #hero-section{
        display: flex;

}
#section1{
    display: none;
}
#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#get-started{
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 18px;
    width: 200px;
    height: 50px; 
    margin-top: 20px;
}
#get-started:hover{
    background-color: white;
    color: black;
}
#logo1{
    padding-left: -20px;
    height: 37;
    width: 157;
}
#home{
    padding-left: 30px;
    
}
#company{
    padding-top: 5px;
}
#button{
    height: 80px;
    font-size: 24px;
}
#hero-section-small{
    font-size: 32px;
}
#news-card-section{
    display: flex;
    flex-direction: row;
}
.news-card{
    width: 33%;
    padding: 5px;
}
.newsimages{
    width: 330px;
    height: 400px;
    align-items: center;
}
}