body{
    max-width: 375px;
}
#top-section{
    max-width: 375px;
    background-image: url(Background.png);
}
#hero-section{
    display: flex;
}
#logo{
    height: 37;
    width: 167;
    margin: 30px;
}
#menu{
    padding-left: 70px;
    height: 35;
    width: 35;
}
#rectangle{
    height: 15;
    width: 90;
    margin: 200px 0px 30px 30px;
}
#hero-section-text{
    font-family: 'Libre Caslon Display';
    font-size: 50px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 600;
}
#hero-section-small{
    font-family: 'Inter';
    font-size: 18px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 40px;
    font-weight: 300;
    margin-top: 50px;
}
#button-section{
    margin-top: 40px;
    padding-left: 30px;
    padding-bottom: 150px;
}
#button{
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 18px;
    width: 153px;
    height: 42px;
}
#button:hover{
    background-color: white;
    color: black;
}
#news-section{
    padding: 50px 30px 40px 30px;
}
#news-card-1{
    border: 1px solid #1111;
}
#news-title{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
.newsimages{
    margin-bottom: 20px;
}
.news-dates{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color: #b7b7b7;
    font-weight: 400;
}